<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I am a Graduate student at <a class="underline-link" href="https://cci.uncc.edu/" target="_blank">University of North Carolina at Charlotte</a> doing my Masters in Computer Science. As a Research Assistant at <a class="underline-link" href="https://github.com/ImmersiveAnalyticsUNCC" target="_blank">UNCC’s visualization lab</a>, I work on my thesis project with <a class="underline-link" href="https://cci.uncc.edu/directory/aidong-lu" target="_blank">Dr Aidong Lu</a> building some AR projects for Microsoft Hololens and iOS devices. I enjoy designing and developing iOS apps and have been working with <a class="underline-link" href="https://www.imaginovation.net/" target="_blank">Imaginovation LLC </a> for developing an iPad application during my summer internship.
    </p>

    <p>
      As a software engineer, I enjoy participating in each phase of software development life cycle starting from creating prototypes and stories (Yes I love doing it too like <a class="underline-link" href ="https://www.figma.com/file/LNPXr52vQcjTL70MMcHkZ4uh/UNCC-YesPlusAppIdea?node-id=0%3A1" target="_blank">this one</a>) to choosing the right architecture and coding (of course) with focus on keeping the code modular and reusable. Familiar with MVC and MVVM patterns,I am currently learning how protocol oriented programming works.
    </p>

    <p>
      <strong>When I'm not in front of a computer screen</strong>, I'm probably playing my 🎸, roaming and exploring new places with my friends, facetim-ing 🤳 my family or cooking some delicious Indian food 😋
    </p>

    <!-- {% include employment-status.html %} -->
  </div>
</section>
